#div1,#div2 {
    /*height: 470px;*/
    width: 450px;
    line-height: 30px;
    position: absolute;
    margin: auto;
    top: 50px;
    left: 0;
    right: 0;
    text-align: center;
    background-color: #f2e7c3;
    display: none;
}
#search {
    width:1462px;
    height:80px;
}

#div1 input, #div2 input {
    float: left;
}

#paging {
    bottom: 50px;
    position: absolute;
}