<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>班级</title>
    <link rel="stylesheet" th:href="@{bootstrap/css/bootstrap.css}">
</head>
<body>
<div class="card-body">
    <table class="table table-bordered" id="table">
        <tr>
            <td>班级id</td>
            <td>班级名称</td>
            <td>班级人数</td>
        </tr>
        <tr th:each="class: ${classList}">
            <td th:text="${class.id}"></td>
            <td th:text="${class.className}"></td>
            <td th:text="${class.num}"></td>
        </tr>
    </table>
</div>

</body>
</html>