<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Dashboard - SB Admin</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet"/>
    <link th:href="@{css/styles.css}" rel="stylesheet"/>
    <link th:href="@{css/index.css}" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{bootstrap/css/bootstrap.css}">
    <script th:src="@{js/jQuery3.6.0.js}"></script>
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            crossorigin="anonymous"></script>
    <script th:src="@{js/scripts.js}"></script>
    <script th:src="@{js/index.js}"></script>
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>-->
<!--    <script th:src="@{assets/demo/chart-area-demo.js}"></script>-->
<!--    <script th:src="@{assets/demo/chart-bar-demo.js}"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script th:src="@{js/datatables-simple-demo.js}"></script>
    <script th:src="@{bootstrap/js/bootstrap.js}"></script>
</head>
<body class="sb-nav-fixed">
<!--    上面的一行-->
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand ps-3" href="javaScript:void(0)">排课管理系统</a>
    <ul class="nav" id="ul">
    </ul>
</nav>


<!--左侧菜单栏-->
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <!--                    <div class="sb-sidenav-menu-heading">Core</div>-->
                    <!--                    <a class="nav-link" href="index.html">-->
                    <!--                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>-->
                    <!--                        Dashboard-->
                    <!--                    </a>-->
                    <!--                    <div class="sb-sidenav-menu-heading">Interface</div>-->


                    <a class="nav-link collapsed" href="javaScript:void(0)" data-bs-toggle="collapse"
                       data-bs-target="#collapsePages"
                       aria-expanded="false" aria-controls="collapsePages">
                        <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                        管理
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapsePages" aria-labelledby="headingTwo"
                         data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                            <a class="nav-link collapsed" href="javaScript:void(0)" data-bs-toggle="collapse"
                               data-bs-target="#pagesCollapseAuth" aria-expanded="false"
                               aria-controls="pagesCollapseAuth">
                                用户
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne"
                                 data-bs-parent="#sidenavAccordionPages">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="javaScript:void(0)" id="studentView">学生</a>
                                    <a class="nav-link" href="javaScript:void(0)" id="classView">班级</a>
                                    <a class="nav-link" href="javaScript:void(0)" id="teacherView">教师</a>
                                </nav>
                            </div>
                            <a class="nav-link collapsed" href="javaScript:void(0)" data-bs-toggle="collapse"
                               data-bs-target="#pagesCollapseError" aria-expanded="false"
                               aria-controls="pagesCollapseError">
                                资源
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne"
                                 data-bs-parent="#sidenavAccordionPages">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="javaScript:void(0)" id="houseView">教室</a>
                                    <a class="nav-link" href="javaScript:void(0)" id="courseView">课程</a>
                                </nav>
                            </div>
                        </nav>
                    </div>

                    <a class="nav-link collapsed" href="javaScript:void(0)" data-bs-toggle="collapse"
                       data-bs-target="#collapseLayouts"
                       aria-expanded="false" aria-controls="collapseLayouts">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        课程安排
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne"
                         data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="javaScript:void(0)" id="arrangeStudentView">学生课程表</a>
                            <a class="nav-link" href="javaScript:void(0)" id="arrangeTeacherView">教师课程表</a>
                        </nav>
                    </div>
                    <!--                    <div class="sb-sidenav-menu-heading">Addons</div>-->
                    <!--                    <a class="nav-link" href="javaScript:void(0)">-->
                    <!--                        <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>-->
                    <!--                        Charts-->
                    <!--                    </a>-->
                    <a class="nav-link" href="javaScript:void(0)" id="exit">
                        <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                        退出登录
                    </a>
                </div>
            </div>
        </nav>
    </div>
</div>

<div id="iframe">
    <iframe th:src="@{text}" frameborder="0"></iframe>
</div>

</body>
</html>
