<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>学生</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{css/student.css}">
    <script th:src="@{js/jQuery3.6.0.js}"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script th:src="@{js/student.js}"></script>
<!--    <script th:src="@{require.js}" th:attr="data-main=@{js/student.js},defer=true"></script>-->

</head>
<body>
<!-- Single button -->

<!--检索框-->

<div id="search">
    <div class="btn-group col-md-1" id="classdiv">
        <br>
        <button type="button" class="btn btn-default dropdown-toggle btn-info"
                data-toggle="dropdown" id="classChoice">
            班级 <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" th:id="${classId}">
            <li><a href="javaScript:void(0)" id="0">所有</a></li>
            <li th:each="class: ${classList}" th:id="${class.id}">
                <a th:text="${class.className}" href="javaScript:void(0)"></a>
            </li>
        </ul>
    </div>

    <div class="col-md-2">
        学生id:
        <input type="text" id="id">
        <p></p>
    </div>
    <div class="col-md-2">
        姓名:
        <input type="text" id="studentName">
        <p></p>
    </div>

    <div class="col-md-2">
        年龄:
        <input type="text" id="age">
        <p></p>
    </div>
    <div class="col-md-2">
        班级id:
        <input type="text" id="classId">
        <p></p>
    </div>
    <div class="col-md-2">
        <br>性别:
        <!--        <input type="text" id="sex">-->
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">全选<span class="caret"></span>
        </button>
        <ul class="dropdown-menu" id="sex">
            <li><a href="javaScript:void(0)">全选</a></li>
            <li><a href="javaScript:void(0)">男</a></li>
            <li><a href="javaScript:void(0)">女</a></li>
        </ul>
    </div>
    <div class="col-md-1">
        <br>
        <button class="btn btn-info" id="submit">确定</button>
    </div>
</div>

<div class="card-body">
    <table class="table table-bordered" id="table">
        <tr>
            <td>学生id</td>
            <td>学生姓名</td>
            <td>性别</td>
            <td>年龄</td>
            <td>班级id</td>
            <td>操作&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-info" id="insert">添加</button>
            </td>
        </tr>
        <tr th:each="student: ${studentList}">
            <td th:text="${student.id}"></td>
            <td th:text="${student.studentName}"></td>
            <td th:text="${student.sex}"></td>
            <td th:text="${student.age}"></td>
            <td th:text="${student.classId}"></td>
            <td>
                <button type="button" class="btn btn-info update">编辑</button>
                <button type="button" class="btn btn-info delete">删除</button>
            </td>
        </tr>
    </table>
    <!--    分页-->
    <div id="paging">
        <button type="button" class="btn btn-info">上一页</button>
        跳转至:<input type="text" th:value="${count}">
        <button type="button" class="btn btn-info">确定</button>
        <button type="button" class="btn btn-info">下一页</button>
    </div>
</div>

<!--编辑-->
<div class="card-body" id="div1">
    <table class="table table-bordered">
        <tr>
            <td>用户id</td>
            <td><p></p></td>
        </tr>
        <tr>
            <td>姓名</td>
            <td><input type="text">
                <p></p></td>
        </tr>
        <tr>
            <td>性别</td>
            <td><input type="text">
                <p></p></td>
        </tr>
        <tr>
            <td>年龄</td>
            <td><input type="text">
                <p></p></td>
        </tr>
        <tr>
            <td>班级id</td>
            <td><input type="text">
                <p></p></td>
        </tr>
        <tr>
            <td>修改者id</td>
            <td><input type="text">
                <p></p></td>
        </tr>
        <tr>
            <td colspan=2>
                <button type="button" class="btn btn-info" id="confirm">确定</button>
                <button type="button" class="btn btn-info" id="cancel">取消</button>
            </td>
        </tr>
    </table>
</div>

<!--插入-->
<div class="card-body" id="div2">
    <table class="table table-bordered">
        <tr>
            <td>姓名</td>
            <td><input type="text">
                <p></p></td>
        </tr>
        <tr>
            <td>性别</td>
            <td><input type="text">
                <p></p></td>
        </tr>
        <tr>
            <td>年龄</td>
            <td><input type="text">
                <p></p></td>
        </tr>
        <tr>
            <td>班级id</td>
            <td><input type="text">
                <p></p></td>
        </tr>
        <tr>
            <td>创建者id</td>
            <td><input type="text">
                <p></p></td>
        </tr>
        <tr>
            <td colspan=2>
                <button type="button" class="btn btn-info" id="confirm1">确定</button>
                <button type="button" class="btn btn-info" id="cancel1">取消</button>
            </td>
        </tr>
    </table>
</div>

</body>
</html>